
.Footer {

    overflow: hidden;

    position: relative;

    .DarkCard {
        background-color: transparent;

        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }

        cursor: pointer;
    }

    .BrightCard {
        background-color: transparent;

        &:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }

        cursor: pointer;
    }

    .SupporterBox {

        overflow: hidden;

        .Logo {
            // Position
            vertical-align: top;

            // Making sure that every Logo, no matter the aspect ration
            // fits inside (16vw x 8vw) and is located in the center
            display: inline-grid;
            grid-template-columns: 1fr auto 1fr;
            grid-template-rows: 1fr auto 1fr;
            grid-template-areas: ".  .  ." ". a ." ".  .  .";

            a {
                grid-area: a;
            }
        }

    }

    .ImpressumBox {

        overflow: hidden;

        .LogoBox {

            // Appearance
            color: white;
            text-decoration: none;
            font-weight: 400;

            a {

                // Size
                height: 3vw;
                padding: 0.25vw 0;

                // Content Alignment
                text-align: right;
                line-height: 1.5vw;
                display: inline-grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr auto 1vw auto 1fr;
                grid-template-areas: ". row1 . icon ." ". row2 . icon .";

                // Appearance
                color: white;
                text-decoration: none;
                font-weight: 400;

                .LabelRow1 {
                    grid-area: row1;
                }

                .LabelRow2 {
                    grid-area: row2;
                }

                .Icon {
                    // Content Alignment
                    grid-area: icon;
                    display: inline-grid;
                    vertical-align: top;
                    grid-template-columns: 1fr auto 1fr;
                    grid-template-rows: 1fr auto 1fr;
                    grid-template-areas: ".  .  ." ". img ." ".  .  .";

                    img {
                        vertical-align: top;
                        grid-area: img;
                        height: 2.5vw;
                    }
                }
            }
        }

        .SimpleBox {

            a {
                // Appearance
                color: white;
                text-decoration: none;
                font-weight: 400;
            }

        }

    }

}


/** Mobile in Portrait **/
@media only screen and (max-width: 599px) {
    .SupporterBox {

        .Logo {

            // Size
            width: 48vw;
            height: 18vw;
            padding: 1.5vw;

            .WideImage {
                width: 48vw;
            }

            .NarrowImage {
                height: 18vw;
            }
        }

    }
}

/** Mobile in Landscape **/
@media only screen and (min-width: 600px) and (max-width: 979px) and (max-height: 599px) {
    .SupporterBox {

        .Logo {

            // Size
            width: 24vw;
            height: 9vw;
            padding: 0.75vw;

            .WideImage {
                width: 24vw;
            }

            .NarrowImage {
                height: 9vw;
            }
        }

    }
}

/** Tablet in Portrait **/
@media only screen and (min-width: 600px) and (max-width: 979px) and (min-height: 599px) {
    .SupporterBox {

        .Logo {

            // Size
            width: 24vw;
            height: 9vw;
            padding: 0.75vw;

            .WideImage {
                width: 24vw;
            }

            .NarrowImage {
                height: 9vw;
            }
        }

    }
}

/** Tablet in Landscape **/
@media only screen and (min-width: 980px) and (max-width: 1259px) {
    .SupporterBox {

        .Logo {

            // Size
            width: 20vw;
            height: 7.5vw;
            padding: 0.625vw;

            .WideImage {
                width: 20vw;
            }

            .NarrowImage {
                height: 7.5vw;
            }
        }

    }
}

/** Desktop **/
@media only screen and (min-width: 1260px) {
    .SupporterBox {

        .Logo {

            // Size
            width: 16vw;
            height: 6vw;
            padding: 0.5vw;

            .WideImage {
                width: 16vw;
            }

            .NarrowImage {
                height: 6vw;
            }
        }

    }
}



