
.ImageSlider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;

    width: 100vw;
    height: 100vh;

    .Image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            padding: 0;
            margin: -1px -1px -4px -1px;
        }
    }
}
