
.IndexPage {
    width: 100vw;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);

    .CenterBox {

        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        z-index: 200;

        .MuiButton-root {
            z-index: 200;

            .MuiButton-label {
                z-index: 200;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }

        .Logo {
            z-index: 200;

            -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.9));

            rect, circle, path {
                fill: white;
                fill-rule: nonzero;
            }
        }

        .Element {
            position: relative;
            display: block;
        }
    }

    .Image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
    }

    .breakpoint__medium-up {

        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: calc(var(--vh, 1vh) * 100);
        overflow: hidden;

        .Video {
            position: absolute;
            top: calc(var(--vh, 1vh) * 50);
            left: 50vw;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            min-width: 100vw;
            min-height: calc(var(--vh, 1vh) * 100);
            width: auto;
            height: auto;
            z-index: 100;
            overflow: hidden;
        }
    }
}

/** Mobile in Portrait **/
@media only screen and (max-width: 599px) {
    .IndexPage {
        .CenterBox {

            .Logo {
                width: 80vw;
                margin-bottom: 2.5vh;
            }
        }

        .Image {
            background: url("https://storage.googleapis.com/i14-worlds-2021-gallery/default-images/index-image-2800-portrait.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
}

/** Mobile in Landscape **/
@media only screen and (min-width: 600px) and (max-width: 979px) and (max-height: 599px) {
    .IndexPage {
        .CenterBox {

            .Logo {
                width: 50vw;
                margin-bottom: 2.5vh;
            }
        }

        .Image {
            background: url("https://storage.googleapis.com/i14-worlds-2021-gallery/default-images/index-image-2800-landscape.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
}

/** Tablet in Portrait **/
@media only screen and (min-width: 600px) and (max-width: 979px) and (min-height: 599px) {
    .IndexPage .CenterBox {

        .Logo {
            width: 50vw;
            margin-bottom: 2.5vw;
        }
    }
}

/** Tablet in Landscape **/
@media only screen and (min-width: 980px) and (max-width: 1259px) {

    .IndexPage {

        .CenterBox {
            margin: 0;
            padding: 0;

            .Logo {
                width: 40vw;
                margin-bottom: 2vw;
            }
        }
    }
}

/** Desktop **/
@media only screen and (min-width: 1260px) {
    .IndexPage .CenterBox {

        .Logo {
            width: 30vw;
            margin-bottom: 1.5vw;
        }
    }
}

