
.NewsFeedPage {

    .ArticleContent {
        h1, h2, h3, h4, h5, h6 {
            display: block;
            text-align: center;
        }

        p {
            text-align: justify;
            text-align-last: center;
        }

        a {
            color: hsl(340, 100%, 50%);
            text-decoration: none;
        }
    }
}
